         .default {
            background: url("{{url($data->image)}}") no-repeat center center; 
            width: 230px;
            height: 180px;
            border: 1px solid black;
            background-size: 230px 180px;
        }
         
         .slide {
              background: url("{{url($data->image)}}") no-repeat center center; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
                background-size: cover;
                width: 755px;
                height: 300px;
                opacity: 0.89;
                background-size: 700px 295px;
                background-color: rgba(21, 13, 3, 0.444);
         }

         .circle {
            background: url("{{url($data->image)}}") no-repeat center center;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-size: 200px 200px;
        }

        .boxed {
            background: url("{{url($data->image)}}") no-repeat center center;
            border: 8px solid rgba(220, 180, 166, 0.50);
            background-size: 180px 235px;
            width: 180px;
            height: 235px;
        }